{% extends "base.html" %}

{% block content %}
    <h3>Privacy Policy</h3>
    <p>Thank you for using the services available through the TopParodies mobile application and the website at the
        domain name TopParodies.com, each, that are provided by Przemyslaw Pajak Quick &amp; Quality Web Development
        Group (the &ldquo;TopParodies Service&rdquo;). At TopParodies, we strive to make your online experience with us
        secure and satisfying. This Privacy Policy describes and governs what information we gather from you, how we use
        that information, and what we do to protect it. By using the TopParodies Service, you expressly consent to the
        information handling practices described in this Policy. If you do not want information about you to be used in
        the manner set forth in this Privacy Policy, please do not use the TopParodies Service. This Privacy Policy is
        expressly incorporated into our Terms of Use. Your use of the TopParodies Service and any personal information
        you provide through the TopParodies Service are subject to this Privacy Policy and the Terms of Use at all
        times.
    </p>
    <h4>Changes and Updates</h4>
    <p>We may periodically revise this Privacy Policy. &nbsp;Please revisit this page to stay current with any changes.
        The most recent version of this Policy will always be available on the TopParodies Service. The effective date
        of any changes will be posted at the top of this page. For changes to this Privacy Policy that may be materially
        less restrictive on our use or disclosure of personal information you have provided to us, we will obtain your
        consent before implementing the change. Your continued use of the TopParodies Service constitutes your agreement
        to this Privacy Policy and any future revisions.
    </p>
    <h4>Information TopParodies Collects</h4>
    <p>TopParodies&nbsp;collects two types of data about users: (1) information that you or others voluntarily submit to
        us (described below under &ldquo;User-Supplied Information&rdquo;) and (2) technical data automatically
        collected from all visitors to the TopParodies Service (described below under &ldquo;Automatically Collected
        Data&rdquo;).
    </p>
    <p><span>User-Supplied Information:</span>&nbsp;In using the TopParodies Service, for example when you register with
        us, or if you send us an email, you will provide TopParodies with data generally called &ldquo;personally
        identifiable&rdquo;
        information. If you choose to provide such information, you are giving TopParodies permission to use and store
        that information consistent with this Privacy Policy. Additionally, please know that when you register or sign
        in to the TopParodies Service, you are not anonymous to us.
    </p>
    <ol type="a">
        <li><span>Mobile device information:</span>&nbsp;We may store your phone number, as well as information
            regarding your mobile device, including your mobile phone number, device type and operating system and
            information in your mobile phone&rsquo;s address book or in other applications as permitted by the
            functionality of such mobile device.
        </li>
        <li><span>Profile Information:</span>&nbsp;To register for the TopParodies Service, you will need to provide
            information through the online registration form on our website at TopParodies.com or to provide access to
            the information on your Facebook account through Facebook Connect. By doing so, you understand and authorize
            us to use all the information exposed to us through our website and/or Facebook Connect pursuant to this
            Privacy Policy. &nbsp;Where you use Facebook Connect to register, this includes your status updates, photos,
            videos, name, email address and information regarding your friends on Facebook. You should check your
            Facebook settings to change the information sent to us through Facebook Connect.
        </li>
        <li><span>Location:</span>&nbsp;You may allow the TopParodies mobile application to have access to your location
            to provide helpful information and services based on where you are located (i.e., by allowing your mobile
            device to send us your location).
        </li>
    </ol>
    <p><span>Automatically Collected Data:</span>&nbsp;The TopParodies Service operating on a website automatically logs
        non-personally identifiable information such as Internet Protocol address (&ldquo;IP Address&rdquo;), a unique
        user ID, the content and pages that you access on the TopParodies Service and the dates and times that you visit
        the TopParodies Service. In addition, if you come to the TopParodies Service via a link from another site, we
        may also track the source of that link.
    </p>
    <p><span>Information Regarding &ldquo;Cookies&rdquo;:</span>&nbsp;Like many other websites, the TopParodies Service
        may send one or more cookies &ndash;
        small text files containing a string of alphanumeric characters &ndash; to your computer. TopParodies may use
        cookies to track user traffic patterns as described above. TopParodies may use both session cookies and
        persistent cookies. A session cookie disappears after you close your browser. A persistent cookie remains after
        you close your browser and may be used by your browser on subsequent visits to the TopParodies Service.
        Persistent cookies can be removed. You can refuse cookies by turning them off in your browser, however, some
        features on the TopParodies Service may not function properly if your cookies are disabled. Please review your
        web browser &ldquo;Help&rdquo;
        file to modify your cookie settings.</p>
    <h4>Information we Obtain from Other Sources.</h4>
    <p>We may collect information about you from other sources, including from partners, and from commercially available
        sources (such as data aggregators and public databases). The following are examples of information we may
        collect from other sources:
    </p>
    <ol type="a">
        <li>Data you authorize us to access through your use of Facebook Connect.
        </li>
    </ol>
    <p>In general, the types and amount of personally identifiable information we collect vary depending on the
        activity. TopParodies endeavors to limit the collection of personally identifiable information to information we
        believe is minimally necessary to achieve our stated collection purposes.
    </p>
    <h4>The Way TopParodies Uses Information</h4>
    <p><span>TopParodies</span>&nbsp;uses personally identifiable information to establish and enhance our relationship
        with you. &nbsp;TopParodies may use the information that you provide, or that we collect, to operate, maintain,
        enhance, and deliver the various features and services found on the TopParodies Service; as well as to track
        user-generated&nbsp;content and users to comply as a service provider with the copyright and other applicable
        laws.</p>
    <p>TopParodies uses all of the information that we collect from users to understand and analyze the usage trends and
        preferences of our users, to improve the way the TopParodies Service works and looks, and to create new features
        and functionality. Further, TopParodies may use automatically collected data to: (a) remember your information
        so that you will not have to re-enter it during your visit or the next time you visit TopParodies; (b) monitor
        your participation in various sections of the TopParodies Service; (c) customize our service to you, including
        by providing you with recommendations and (c) monitor aggregate site usage metrics such as total number of
        visitors and pages viewed.
    </p>
    <p>We may use your e-mail address for administrative communications such as notifying you of major TopParodies
        Service updates, for customer service purposes, and to send privacy or security-related notices. &nbsp;In
        certain cases, we may contact you to offer to facilitate an introduction to another company or person, including
        companies with which we have business relationships. &nbsp;If you do not want to have us contact you for these
        purposes in the future, you can opt out.
    </p>
    <h4>How TopParodies May Disclose Information</h4>
    <p>TopParodies&nbsp;does not share your personally identifiable information with other organizations for their
        marketing or promotional uses without your prior consent.
    </p>
    <p>We may share your personally identifiable information with companies that provide services to us, including
        outside vendors, contractors, or agents who help us manage our business activities. Such entities only use your
        personal information in accordance with this Privacy Policy and for no other purpose than to provide us with
        necessary services.
    </p>
    <p>TopParodies&nbsp;may disclose personally identifiable information if required to do so by law or under the good
        faith belief that such action is necessary to comply with law of the Republic of Poland (including, without
        limitation, copyright or trademark laws) or respond to a court order, subpoena, judicial or other governmental
        requirement or warrant in a manner required by the requesting entity.
    </p>
    <p>TopParodies also reserves the right to disclose personally identifiable information that we believe, in good
        faith, is appropriate or necessary to take precautions against liability; enforce our Terms of Use; protect
        TopParodies from fraudulent, abusive, or unlawful uses; to initiate, render, bill and collect for amounts owed
        to TopParodies; to investigate and defend ourselves against third-party claims or allegations; to assist
        government enforcement agencies; to protect the security or integrity of the TopParodies Service; or to protect
        the rights, property, or personal safety of TopParodies, our Users, or others.
    </p>
    <p>In the event that TopParodies is acquired by, merged with, or our assets are transferred to, another entity, such
        entity may be able to use your personal information under the terms of this Privacy Policy.
    </p>
    <h4>Access to Your Personal Information</h4>
    <p>If you register as a member of TopParodies, you may update, correct, or delete your profile information and
        preferences at any time by e-mailing us office@TopParodies.com. To protect your privacy and security, we take
        reasonable steps to verify your identity before granting you account access or making corrections to your
        information. You are responsible for maintaining the secrecy of your unique password and account information at
        all times.
    </p>
    <h4>Children</h4>
    <p>TopParodies&nbsp;does not knowingly collect or retain personally identifiable information about persons under 13
        years of age. Any person who provides their personal information to TopParodies through this website represents
        that they are 13 years of age or older. If TopParodies learns that personally identifiable information of
        persons under the age of 13 years has been collected on the TopParodies Service without verifiable parental
        consent, then TopParodies will take the appropriate steps to delete this information.
    </p>
    <p>If you are a parent or guardian and discover that your child under the age of 13 has obtained a TopParodies
        Service account, then you may alert TopParodies at office@TopParodies.com and request that TopParodies delete
        that child&rsquo;s personal information from its systems.
    </p>
    <h4>Data Security</h4>
    <p>TopParodies&nbsp;uses commercially reasonable physical, managerial, and technical safeguards to preserve the
        integrity and security of your personal information. However, no data transmissions over the Internet can be
        guaranteed to be 100% secure. We cannot, therefore, ensure or warrant the security of any information you
        transmit to TopParodies, and you do so at your own risk. Please know that although we make our best efforts to
        keep your information secure, this is not a guarantee that such information may not be accessed, disclosed,
        altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
    </p>
    <p>If TopParodies learns of a security systems breach, then we may attempt to notify you electronically so that you
        can take appropriate protective steps. By using this website or providing personal information to us you agree
        that we can communicate with you electronically regarding security, privacy and administrative issues relating
        to your use of this website. TopParodies may post a notice on the TopParodies Service if a security breach
        occurs. Depending on where you live, you may have a legal right to receive notice of a security breach in
        writing. To receive a free written notice of a security breach, or to opt out of receiving electronic notice you
        should notify us at office@TopParodies.com.
    </p>
    <h4>International Visitors</h4>
    <p>The TopParodies Service is hosted in the Republic of Poland. If you visit the TopParodies Service from the United
        States or other regions of the world with laws governing data collection and use that may differ from laws of
        the Republic of Poland, then please understand that you are transferring your personally identifiable
        information outside of those jurisdictions to the Republic of Poland for the uses identified above in accordance
        with this Privacy Policy. By providing your personally identifiable information on the TopParodies Service you
        consent to that transfer.
    </p>
    <h4>Third Parties</h4>
    <p>Except as expressly provided otherwise, this document addresses only the use and disclosure of information that
        the TopParodies Service collects from you or that you disclose to us. If you disclose your information to others
        besides TopParodies different rules may apply to their use or disclosure of the information you disclose to
        them. TopParodies does not control the privacy policies of third parties, and you are subject to the privacy
        policies of those third parties where applicable. We encourage you to ask questions before you disclose your
        personal information to others.
    </p>
    <h4>Contact</h4>
    <p>Please contact TopParodies with any questions or comments about this Privacy Policy, your personal information,
        our third-party disclosure practices, or your consent choices by e-mail at office@TopParodies.com or by mail at
        Przemyslaw Pajak Quick &amp; Quality Web Development Group, Trebaczew ul.Wyzwolenia 119, Dzialoszyn 98-355,
        Poland.
    </p>
{% endblock %}