{% extends "parodies/base.html" %}

{% block content %}
    <h3>Terms of Use</h3>
    <p xmlns="http://www.w3.org/1999/html">This is a legal agreement between you and TopParodies (&ldquo;TopParodies&rdquo;
        or &ldquo;Us&rdquo;) regarding the use of the TopParodies software program (the &ldquo;Software&rdquo;) that you
        are installing on your device and the services available through the Software or on the TopParodies site
        (the &ldquo;TopParodies Service&rdquo;). BY DOWNLOADING THE SOFTWARE OR USING THE SERVICE, YOU ACKNOWLEDGE THAT
        YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS, INCLUDING ANY ADDITIONAL GUIDELINES,
        AND ANY FUTURE MODIFICATIONS (COLLECTIVELY, THE &ldquo;TERMS&rdquo;). &nbsp;IF AT ANY TIME YOU DO NOT AGREE TO
        THESE TERMS, PLEASE IMMEDIATELY TERMINATE YOUR USE OF THE SOFTWARE AND SERVICE.
    </p>
    <p>THE SOFTWARE OR TOPPARODIES SERVICE IS NOT FOR PERSONS UNDER THE AGE OF 13. &nbsp;IF YOU ARE UNDER 13 YEARS OF
        AGE, THEN PLEASE DO NOT USE THE SOFTWARE OR SERVICE. FURTHER, IF YOU OVER 13 BUT ARE UNDER THE AGE OF CONSENT
        WHERE YOU LIVE, THEN YOU MUST GET THE CONSENT OF YOUR PARENTS PRIOR TO USING THE SOFTWARE OR SERVICE.
    </p>
    <ol type="1">
        <li><strong>Privacy.</strong>&nbsp;Your privacy is important to TopParodies. &nbsp;TopParodies&rsquo;s Privacy
            Notice for TopParodies (available at http://topparodies.com/privacy), hereafter referred to as the &ldquo;Privacy Policy&rdquo;, is hereby incorporated into these Terms by reference. &nbsp;Please read the
            TopParodies Privacy Policy carefully for details relating to the collection, use, and disclosure of your
            personal information.
        </li>
        <li><strong>Individual Features and Services.</strong>&nbsp; When using the Software or TopParodies Service, you
            will be subject to any additional posted guidelines or rules applicable to specific services, and features
            which may be posted from time to time (the &ldquo;Guidelines&rdquo;). &nbsp;To the extent that any terms of
            these Terms of Use conflict with any Guidelines, these Terms of Use shall control.
        </li>
        <li><strong>Modification of Terms</strong>. TopParodies reserves the right, at its discretion, to change, modify,
            add, or remove portions of these Terms at any time without notice to you. &nbsp;Please check these Terms and
            any Guidelines periodically for changes. &nbsp;Your continued use of the Software or TopParodies Service
            after the posting of changes constitutes your binding acceptance of such changes. &nbsp;For any material
            changes to these Terms, such amended terms will automatically be effective thirty days after they are
            initially posted on the Software or TopParodies Service.
        </li>
        <li><strong>Ownership. </strong>The TopParodies Service and Software are owned and operated by TopParodies and its
            licensors. &nbsp;The content, visual interfaces, interactive features, information, graphics, design,
            compilation, computer code, products, software, services, and all other elements of the Software or
            TopParodies Service that are provided by TopParodies (&ldquo;TopParodies Materials&rdquo;) are protected by
            Republic of Poland copyright, trade dress, patent, and trademark laws, international conventions, and all
            other relevant intellectual property and proprietary rights, and applicable laws. &nbsp;TopParodies
            Materials do not include TopParodies Submissions (defined below) or any other content owned by and submitted
            by users (&ldquo;Users&rdquo;) to the Software or TopParodies Service. &nbsp;All TopParodies Materials are
            the copyrighted property of TopParodies or its Affiliates and/or third-party licensors. &nbsp;For purposes
            of this Agreement, an Affiliate shall be defined as an entity that controls, is controlled by, or is under
            common control with TopParodies. Except as expressly authorized by TopParodies, you agree not to sell,
            license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create
            derivative works from, or otherwise make unauthorized use of the TopParodies Service, Software or
            TopParodies Materials. &nbsp;TopParodies reserves all rights not expressly granted in these Terms. &nbsp;You
            shall not acquire any right, title or interest to the TopParodies Service, Software, or TopParodies
            Materials, except for the limited rights set forth in this Agreement.
        </li>
        <li><strong>TopParodies Submissions</strong>
            <ol type="a">
                <li><span>Generally.</span>&nbsp;The Software or TopParodies Service may now or in the future permit the
                    submission and posting or linking of text, chat logs, pictures, media, audio and video recordings,
                    commentary or any other content submitted by you and other users (&ldquo;TopParodies Submissions&rdquo;),
                    and the linking, hosting, sharing, and/or publishing of such TopParodies Submissions. &nbsp;TopParodies
                    makes no representations that it will publish or use your TopParodies Submissions in any way and may
                    or may not use your TopParodies Submissions in its sole discretion. &nbsp;You understand that
                    whether or not such TopParodies Submissions are published, TopParodies does not guarantee any
                    confidentiality with respect to any TopParodies Submissions. &nbsp;For clarity, you retain ownership
                    of your TopParodies Submissions. &nbsp;However, by submitting TopParodies Submissions to
                    TopParodies, you hereby grant TopParodies and its affiliates &nbsp;a worldwide, non-exclusive, fully
                    paid-up, perpetual, &nbsp;royalty-free, &nbsp;sublicenseable, and transferable license to use,
                    reproduce, distribute, modify, adapt, prepare derivative works of, display, and perform your
                    TopParodies Submissions in connection with the Software or TopParodies Service and TopParodies&rsquo;s
                    (and its successor&rsquo;s) business, including without limitation for promoting and redistributing
                    part or all of the TopParodies Submissions (and derivative works thereof) in any media formats and
                    through any media channels now known or hereafter discovered. &nbsp;You grant TopParodies and its
                    affiliates and sublicensees the right to use the name that you submit in connection with such
                    TopParodies Submission if they choose. &nbsp;You agree to irrevocably waive (and cause to be waived)
                    any claims and assertions of moral rights or attribution with respect to your TopParodies
                    Submissions. &nbsp; You also hereby grant to each user of the Software or TopParodies Service a
                    non-exclusive license to access your TopParodies Submissions through the Software or TopParodies
                    Service and to use, reproduce, distribute, display, and perform such TopParodies Submissions, in
                    each case as permitted by the functionality of the Software or TopParodies Service and these Terms.
                    The above licenses granted by you in TopParodies Submissions you submit to the Software or
                    TopParodies Service terminate within a reasonable time after you remove or delete your TopParodies
                    Submissions from the Software or TopParodies Service. You understand and agree, however, that
                    TopParodies may retain, but not display, distribute, or perform, server copies of your TopParodies
                    Submissions that have been removed or deleted.
                </li>
                <li><span>Representations and Warranties.</span>&nbsp;You shall be solely responsible for your own
                    TopParodies Submissions and the consequences of posting or publishing them. &nbsp;In connection with
                    TopParodies Submissions, you affirm, represent, and/or warrant that: (i) you own, or have the
                    necessary licenses, rights, consents, and permissions to use and authorize TopParodies to use all
                    patent, trademark, copyright, or other proprietary rights in and to any and all TopParodies
                    Submissions to enable inclusion and use of TopParodies Submissions in the manner contemplated by
                    TopParodies and these Terms, and to grant the rights and license set forth above, your TopParodies
                    Submissions, TopParodies&rsquo;s use of such TopParodies Submissions pursuant to these Terms of Use,
                    and TopParodies&rsquo;s exercise of the license rights set forth above, do not and will not: (a)
                    infringe, violate, or misappropriate any third-party right, including any copyright, trademark,
                    patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual
                    property or proprietary right; (b) slander, defame, libel, or invade the right of privacy, publicity
                    or other property rights of any other person; or (c) violate any applicable law or regulation.
                </li>
            </ol>
        </li>
        <li><strong>Content Disclaimer.</strong>&nbsp; &nbsp;You understand that when using the Software or TopParodies
            Service, you will be exposed to TopParodies Submissions and other content (such TopParodies Submissions and
            other content, collectively, &ldquo;Content&rdquo;) from a variety of sources, and that TopParodies is not
            responsible for the accuracy, integrity, quality, legality, usefulness, safety, or intellectual property
            rights of or relating to such Content. &nbsp;You further understand and acknowledge that you may be exposed
            to Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do
            waive, any legal or equitable rights or remedies you have or may have against TopParodies with respect
            thereto. TopParodies does not endorse any User Submission or other Content or any opinion, recommendation,
            or advice expressed therein. &nbsp;Under no circumstances will TopParodies be liable in any way for or in
            connection with any TopParodies Submissions or other Content, including, but not limited to, for any
            inaccuracies, errors or omissions in any Content, any intellectual property infringement with regard to any
            Content, or for any loss or damage of any kind incurred as a result of the use of any Content posted,
            emailed or otherwise displayed or transmitted via the Software or TopParodies Service.
        </li>
        <li><strong>Monitoring Users and Content</strong>. &nbsp;You understand that all Content is the sole responsibility
            of the person from whom such Content originated. &nbsp;This means that you, and not TopParodies, are
            entirely responsible for all TopParodies Submissions that you upload, post, e-mail, transmit or otherwise
            make available through the Software or TopParodies Service. &nbsp;TopParodies does not control the Content
            posted by Users or otherwise made available by other persons and does not have any obligation to monitor
            such Content for any purpose. &nbsp;If at any time, TopParodies chooses, in its sole discretion, to monitor
            the Content, TopParodies nonetheless assumes no responsibility for the Content, no obligation to modify or
            remove any inappropriate Content, and no responsibility for the conduct of the User submitting any such
            Content. &nbsp;You acknowledge that TopParodies may or may not pre-screen TopParodies Submissions, but that
            TopParodies and its designees shall have the right (but not the obligation) in their sole discretion to
            pre-screen, refuse, or remove any User Submission that is available via the Software or TopParodies Service.
            &nbsp;Without limiting the foregoing, TopParodies and its designees may, at any time and without prior
            notice, remove any User Submission that in the sole judgment of TopParodies violates these Terms or is
            otherwise objectionable. &nbsp;You agree that you must evaluate, and bear all risks associated with the use
            of any TopParodies Submissions or other Content, including any reliance on the accuracy, completeness,
            usefulness or legality of such User Submission or other Content.
        </li>
        <li><strong>Authorization for use of Information. &nbsp;</strong>You hereby authorize TopParodies to access and use
            the address book, contact lists or other similar items contained in the devices to which you have downloaded
            the Software for purposes of your use of the TopParodies Service.
        </li>
        <li><strong>Restrictions.</strong>&nbsp;Subject to the terms and conditions herein, TopParodies grants you
            permission to use the TopParodies Service as set forth in these Terms, provided that (i) you use the
            TopParodies Service solely for your personal, private, noncommercial use; (ii) you do not copy, publicly
            display or distribute any part of the Software or TopParodies Service in any medium without TopParodies&rsquo;s
            prior written authorization; (iii) you do not alter or modify any part of the Software or TopParodies
            Service other than as may be reasonably necessary to use the Software or TopParodies Service for its
            intended purposes; (iv) you do not display, transmit or share any Content (defined below) which may be
            deemed by TopParodies as hateful, threatening, pornographic, obscene, abusive, racially or ethnically
            offensive, libelous or defamatory, or any Content that encourages conduct that would be considered a
            criminal offense or bring forth liability; and (v) you otherwise fully comply with these Terms. &nbsp;The
            TopParodies Service is controlled and offered by TopParodies from its facilities in the Republic of Poland.
            &nbsp;TopParodies makes no representations that the TopParodies Service is appropriate or available for use
            in other locations. &nbsp;Those who access or use the TopParodies Service from other jurisdictions do so at
            their own risk and are responsible for compliance with local law.
        </li>
        <li><strong>Prohibited Uses</strong>
            <ol type="a">
                <li>As a condition of your use of the Software or TopParodies Service, you will not use the Software or
                    TopParodies Service for any purpose that is unlawful or prohibited by these Terms. &nbsp;Access to
                    the TopParodies Materials and the Software or TopParodies Service from territories where their
                    access or use thereof is illegal is strictly prohibited. &nbsp;TopParodies Users are responsible for
                    complying with all local rules, laws, and regulations including, without limitation, rules about
                    intellectual property rights, the internet, technology, data, email, or privacy.
                </li>
                <li>You agree not to reproduce, duplicate, copy, sell, trade, resell, distribute or exploit, any portion
                    of the Software or TopParodies Service, use of the Software or TopParodies Service, access to the
                    Software or TopParodies Service, or Content obtained through the Software or TopParodies Service,
                    for any purpose other than as the Software or TopParodies Service is offered by TopParodies. &nbsp;
                </li>
                <li>You agree not to defame, harass, abuse, threaten, stalk or defraud Users of the Software or
                    TopParodies Service, or collect, or attempt to collect, personal information about Users or third
                    parties without their consent.
                </li>
                <li>You agree not to intentionally interfere with or damage, impair or disable the operation of the
                    Software or TopParodies Service or any User&rsquo;s enjoyment of it, by any means, including
                    uploading or otherwise disseminating viruses, worms, spyware, adware or other malicious code.
                </li>
                <li>You agree not to remove, circumvent, disable, damage or otherwise interfere with any
                    security-related features of the Software or TopParodies Service, features that prevent or restrict
                    the use or copying of any content accessible through the Software or TopParodies Service, or
                    features that enforce limitations on the use of the Software or TopParodies Service.
                </li>
                <li>You agree not to attempt to gain unauthorized access to the Software or TopParodies Service, or any
                    part of it, other accounts, computer systems or networks connected to the Software or TopParodies
                    Service, or any part of it, through hacking, password mining or any other means or interfere or
                    attempt to interfere with the proper working of the Software or TopParodies Service or any
                    activities conducted on the Software or TopParodies Service.
                </li>
                <li>You agree not to obtain or attempt to obtain any materials or information through any means not
                    intentionally made available through the Software or TopParodies Service. &nbsp;You agree neither to
                    modify the Software or TopParodies Service in any manner or form, nor to use modified versions of
                    the Software or TopParodies Service, including (without limitation) for the purpose of obtaining
                    unauthorized access to the Software or TopParodies Service.
                </li>
                <li>You agree that you will not use any robot, spider, scraper, or other automated means to access the
                    TopParodies Service for any purpose without our express written permission or bypass our robot
                    exclusion headers or other measures we may use to prevent or restrict access to the Software or
                    TopParodies Service.
                </li>
                <li>You agree not to use any TopParodies logos, graphics, or trademarks without our express written
                    consent.
                </li>
                <li>You agree not to make unsolicited offers, advertisements, proposals, or send spam to other Users of
                    the Software or TopParodies Service. &nbsp;This includes, but is not limited to, unsolicited
                    advertising, promotional materials or other solicitation material, bulk mailing of commercial
                    advertising, chain mail, informational announcements, charity requests, and petitions for
                    signatures.
                </li>
                <li>You agree not to reverse engineer, decompile, disassemble or otherwise attempt to discover the
                    source code of the Software or TopParodies Service or any part thereof, except and only to the
                    extent that such activity is expressly permitted by applicable law notwithstanding this limitation.
                </li>
                <li>You agree not to modify, adapt, translate or create derivative works based upon the Software or
                    TopParodies Service or any part thereof, except and only to the extent that such activity is
                    expressly permitted by applicable law notwithstanding this limitation.
                </li>
            </ol>
        <li><strong>Account Information.</strong>&nbsp;You may use Facebook Connect to log in with your Facebook username
            and password to access some features of the Software or TopParodies Service. Your use of Facebook is
            governed by the Facebook Terms of Use and Facebook shall be considered a Third Party Service under these
            Terms.
            Additionally, in order to access some features of the TopParodies Service, you may have to create an
            account. You agree that the information you provide or authorize third parties to provide to TopParodies
            upon registration and, at all other times, will be true, accurate, current, and complete. &nbsp;You also
            agree that you will ensure that this information is kept accurate and up-to-date at all times. &nbsp;You
            acknowledge, consent and agree that TopParodies may access, preserve and disclose your account information
            and User Submission if required to do so by law or in a good faith belief that such access preservation or
            disclosure is reasonably necessary to (a) comply with legal process; (b) enforce the Terms; (c) respond to
            claim that any User Submission violates the rights of third parties; (d) to respond to your requests for
            customer service; or (e) protect the rights, property or personal safety of TopParodies, its users and the
            public
        </li>
        <li><strong>Password.</strong>&nbsp;As you will be responsible for all activities that occur under your username and
            password, you should keep your password confidential. &nbsp;You are solely responsible for maintaining the
            confidentiality of your account and password and for restricting access to your computer, and you agree to
            accept responsibility for all activities that occur under your account or password. &nbsp;If you have reason
            to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized
            disclosure or use of your account ID or password), you will immediately notify TopParodies at
            office@topparodies.com. &nbsp;You may be liable for the losses incurred by TopParodies or others due to any
            unauthorized use of your account.
        </li>
        <li><strong>Dealings with Advertisers. </strong>Your correspondence or business dealings with, or participation in
            promotions of, advertisers found on or through the Software or TopParodies Service are solely between you
            and such advertiser. &nbsp;YOU AGREE THAT TOPPARODIES WILL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR
            DAMAGE OF ANY SORT INCURRED AS THE RESULT OF ANY SUCH DEALINGS OR AS THE RESULT OF THE PRESENCE OF SUCH
            ADVERTISERS ON THE SOFTWARE OR SERVICE.
        </li>
        <li><strong>Links and Third Party Services. </strong>TopParodies or third parties may provide links or functionality
            in the Software or TopParodies Service to other services, sites or content (&ldquo;Third Party Services&rdquo;).
            &nbsp;TopParodies has no control over such Third Party Services or content, and therefore makes no claim or
            representation regarding, and expressly disclaims responsibility for, the accuracy, quality, legality,
            nature, availability or reliability of Third Party Services or content linked to by the Software or
            TopParodies Service. &nbsp;TopParodies provides links to you only as a convenience, and the inclusion of any
            link on the Software or TopParodies Service does not imply our affiliation, endorsement, or adoption of the
            linked site or any information therein. &nbsp;ACCESS AND USE OF THIRD PARTY SERVICES, INCLUDING THE
            INFORMATION, MATERIAL, PRODUCTS, AND SERVICES ON THIRD PARTY SERVICES OR AVAILABLE THROUGH THIRD PARTY
            SERVICES, IS SOLELY AT YOUR OWN RISK. &nbsp;When you leave the Software or TopParodies Service, our terms
            and policies no longer govern. &nbsp;You should review applicable terms and policies, including the privacy
            and data gathering practices, of any Third Party Services.
        </li>
        <li><strong>Availability of Service.</strong>&nbsp;TopParodies may make changes to or discontinue any of the media,
            web communities, products, or services available within the Software or TopParodies Service at any time, and
            without notice. &nbsp;The media, products, or services on the Software or TopParodies Service may be out of
            date, and TopParodies makes no commitment to update these materials on the Software or TopParodies Service.
        </li>
        <li><strong>User Disagreements. </strong>You are solely responsible for your involvement with other Users. &nbsp;If
            you have a dispute with one or more Users, you release TopParodies (and TopParodies&#39;s parent,
            subsidiaries, Affiliates, officers, directors, agents, joint ventures and employees) from claims, demands
            and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any
            way connected with such disputes.
        </li>
        <li><strong>Terms of Use Violations; Termination</strong>
            <ol type="a">
                <li><span>TopParodies.</span>&nbsp; You agree that TopParodies, in its sole discretion and for any or no
                    reason, may terminate any User or customer account (or any part thereof) you may have at the
                    Software or TopParodies Service or your use of the Software or TopParodies Service, and remove and
                    discard all or any part of your account or any User Submission or Content, at any time, with or
                    without notice. &nbsp;TopParodies may also in its sole discretion and at any time discontinue
                    providing access to the Software or TopParodies Service, or any part thereof, with or without
                    notice. &nbsp;You agree that any termination of your access to the Software or TopParodies Service
                    or any account you may have or portion thereof may be effected without prior notice, and you agree
                    that TopParodies shall not be liable to you or any third-party for any such termination. &nbsp;TopParodies
                    does not permit infringing activities on the Software or TopParodies Service, and reserves the right
                    to terminate access to the Software or TopParodies Service, and remove all content submitted, by any
                    persons who are found to be infringers. &nbsp;Any suspected fraudulent, abusive, or illegal activity
                    may be referred to appropriate law enforcement authorities. &nbsp;These remedies are in addition to
                    any other remedies TopParodies may have at law or in equity.
                </li>
                <li><span>User.</span>&nbsp; If you are dissatisfied with the Software or TopParodies Service, please
                    let us know (office@topparodies.com). &nbsp;Your input is valuable to us. &nbsp;Your only other
                    remedy with respect to any dissatisfaction with (i) the Software or TopParodies Service, (ii) any
                    term of this Terms of Use, (iii) any policy or practice of TopParodies in operating the Software or
                    TopParodies Service, or (iv) any content or information transmitted through the Software or
                    TopParodies Service, is to terminate this Terms of Use and your account. &nbsp;You may terminate
                    this Terms of Use at any time by upon written notice to TopParodies by uninstalling and destroying
                    the Software and discontinuing all use of the TopParodies Service.
                </li>
            </ol>
        </li>
        <li>
            <strong>Indemnification; Hold Harmless. </strong>You agree to indemnify and hold harmless TopParodies, and its
            parent, subsidiaries, Affiliates, its suppliers, licensors and partners, and the officers, directors,
            employees, agents and representatives of any of them from any and all claims, losses, obligations, damages,
            liabilities, costs or debt and expenses (including attorney&rsquo;s fees) arising out of (i) your use or
            misuse of the Software or TopParodies Service; (ii) your TopParodies Submissions, including TopParodies&rsquo;s
            use, display or other exercise of its license rights granted herein with respect to your TopParodies
            Submissions; (iii) your violation of these Terms; (iv) your violation of the rights of any other person or
            entity, including claims that any User Submission infringes or violates any third party intellectual
            property rights; and (v) your breach of the foregoing representations, warranties, and covenants. &nbsp;TopParodies
            reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you
            are required to indemnify us and you agree to cooperate with our defense of these claims. &nbsp;You agree
            not to settle any matter without the prior written consent of TopParodies. &nbsp;TopParodies will use
            reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.
        </li>
        <li><strong>Disclaimers; No Warranties</strong>
            <ol type="a">
                <li><span>No warranties. </span>TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW,
                    TOPPARODIES, AND ITS AFFILIATES, PARTNERS, AND SUPPLIERS (INCLUDING, IF YOU DOWNLOADED THE SOFTWARE
                    FROM THE APPLE APP STORE, APPLE, INC.) DISCLAIM ALL WARRANTIES, STATUTORY, EXPRESS OR IMPLIED,
                    INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                    PURPOSE, TITLE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS. &nbsp;NO ADVICE OR INFORMATION, WHETHER
                    ORAL OR WRITTEN, OBTAINED BY YOU FROM TOPPARODIES OR THROUGH THE SOFTWARE OR TOPPARODIES SERVICE
                    WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED HEREIN. &nbsp;YOU EXPRESSLY ACKNOWLEDGE THAT AS USED
                    IN THIS SECTION 20 AND SECTION 21, THE TERM &ldquo;TopParodies&rdquo;
                    INCLUDES TOPPARODIES&#39;S OFFICERS, DIRECTORS, EMPLOYEES, SHAREHOLDERS, AGENTS, SUPPLIERS,
                    LICENSORS, AFFILIATES AND SUBCONTRACTORS. You further acknowledge that TopParodies and its
                    Affiliates (and if you downloaded the Software from the Apple App Store, Apple) have no obligation
                    whatsoever to furnish any maintenance or support services with respect to the Software and/or
                    TopParodies Service.
                </li>
                <li><span>&ldquo;As is&rdquo; and &ldquo;As available&rdquo; and &ldquo;With All Faults.&rdquo; </span>YOU
                    EXPRESSLY AGREE THAT THE USE OF THE SOFTWARE OR TOPPARODIES SERVICE IS AT YOUR SOLE RISK. &nbsp;THE
                    SOFTWARE OR TOPPARODIES SERVICE, TOPPARODIES SUBMISSIONS AND ANY THIRD-PARTY MEDIA, CONTENT,
                    SOFTWARE, SERVICES OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SOFTWARE OR
                    TOPPARODIES SERVICE ARE PROVIDED ON AN &ldquo;AS IS&rdquo;
                    AND &ldquo;AS AVAILABLE&rdquo;, &ldquo;WITH ALL FAULTS&rdquo; BASIS AND WITHOUT WARRANTIES OR
                    REPRESENTATIONS OF ANY KIND EITHER EXPRESS OR IMPLIED.
                </li>
                <li><span>Platform Operation and Content. </span>TOPPARODIES, ITS SUPPLIERS, LICENSORS, AFFILIATES, AND
                    PARTNERS DO NOT WARRANT THAT THE TOPPARODIES MATERIALS, TOPPARODIES SUBMISSIONS, SOFTWARE OR
                    TOPPARODIES SERVICE, OR ANY OTHER INFORMATION OFFERED ON OR THROUGH THE SOFTWARE OR TOPPARODIES
                    SERVICE OR ANY THIRD PARTY SERVICES WILL BE UNINTERRUPTED, OR FREE OF ERRORS, VIRUSES OR OTHER
                    HARMFUL COMPONENTS AND DO NOT WARRANT THAT ANY OF THE FOREGOING WILL BE CORRECTED.
                </li>
                <li><span>Accuracy. </span>TOPPARODIES, ITS SUPPLIERS, LICENSORS, AFFILIATES, AND PARTNERS DO NOT
                    WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SOFTWARE OR
                    TOPPARODIES SERVICE OR ANY THIRD PARTY SERVICES IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, OR
                    OTHERWISE.
                </li>
                <li><span>Harm to Your Computer or Device</span>. YOU UNDERSTAND AND AGREE THAT YOU IF YOU USE, ACCESS,
                    DOWNLOAD, OR OTHERWISE OBTAIN INFORMATION, MATERIALS, OR DATA THROUGH THE SOFTWARE OR TOPPARODIES
                    SERVICE (INCLUDING RSS FEEDS) OR ANY THIRD PARTY SERVICES, IT IS AT YOUR OWN DISCRETION AND RISK AND
                    THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY (INCLUDING YOUR COMPUTER SYSTEM)
                    OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF SUCH MATERIAL OR DATA.
                </li>
            </ol>
        </li>
        <li><strong>Limitation of Liability; Damages</strong>
            <ol type="a">
                <li><span>Limitation of Liability. </span>UNDER NO CIRCUMSTANCES, AND UNDER NO LEGAL THEORY, INCLUDING,
                    BUT NOT LIMITED TO, NEGLIGENCE, SHALL TOPPARODIES OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS,
                    OR THIRD PARTY PARTNERS OR SUPPLIERS, BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL,
                    CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA OR USE OR
                    COST OF COVER) ARISING OUT OF OR RELATING TO THESE TERMS OR THAT RESULT FROM YOUR USE OR THE
                    INABILITY TO USE THE TOPPARODIES MATERIALS AND TOPPARODIES SUBMISSIONS ON THE SOFTWARE OR
                    TOPPARODIES SERVICE OR ANY THIRD PARTY SERVICES, THE SOFTWARE OR TOPPARODIES SERVICE ITSELF, OR ANY
                    OTHER INTERACTIONS WITH TOPPARODIES, EVEN IF TOPPARODIES OR A TOPPARODIES AUTHORIZED REPRESENTATIVE
                    HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. &nbsp;APPLICABLE LAW MAY NOT ALLOW THE
                    LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION
                    OR EXCLUSION MAY NOT APPLY TO YOU. &nbsp;IN SUCH CASES, TOPPARODIES&rsquo;S LIABILITY WILL BE
                    LIMITED TO THE EXTENT PERMITTED BY LAW.
                </li>
                <li><span>Limitation of Damages. </span>IN NO EVENT SHALL TOPPARODIES OR ITS AFFILIATES, CONTRACTORS,
                    EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS, LICENSORS OR SUPPLIERS&rsquo;
                    TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO
                    THESE TERMS OR YOUR USE OF THE SOFTWARE OR TOPPARODIES SERVICE (WHETHER IN CONTRACT, TORT (INCLUDING
                    NEGLIGENCE), WARRANTY, OR OTHERWISE) EXCEED THE GREATER OF THE AMOUNT OF (A) ONE HUNDRED POLISH
                    ZLOTY OR (B) THE AMOUNT OF FEES YOU HAVE PAID TOPPARODIES IN THE 12 MONTHS PRIOR TO THE ACTION
                    GIVING RISE TO THE LIABILITY.
                </li>
                <li><span>Third Party Services. </span>THESE LIMITATIONS SHALL ALSO APPLY WITH RESPECT TO DAMAGES
                    INCURRED BY REASON OF ANY PRODUCTS OR SERVICES SOLD OR PROVIDED ON ANY THIRD PARTY SERVICES OR
                    OTHERWISE BY THIRD PARTIES OTHER THAN TOPPARODIES AND RECEIVED BY YOU THROUGH OR ADVERTISED ON THE
                    SOFTWARE OR TOPPARODIES SERVICE OR RECEIVED BY YOU THROUGH ANY THIRD PARTY SERVICES.
                </li>
            </ol>
        </li>
        <li><strong>Limitations by Applicable Law; Basis of the Bargain</strong>
            <ol type="a">
                <li><span>Limitations by Applicable Law. </span>CERTAIN JURISDICTIONS DO NOT
                    ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. &nbsp;IF
                    YOU RESIDE IN SUCH A JURISDICTION, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS
                    MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. &nbsp;THE LIMITATIONS OR EXCLUSIONS OF
                    WARRANTIES, REMEDIES OR LIABILITY CONTAINED IN THIS TERMS APPLY TO YOU TO THE FULLEST EXTENT SUCH
                    LIMITATIONS OR EXCLUSIONS ARE PERMITTED UNDER THE LAWS OF THE JURISDICTION IN WHICH YOU ARE LOCATED.
                </li>
            </ol>
        </li>
        <li><strong>Please note that TopParodies will promptly terminate without notice any User&#39;s access to the TopParodies
            Service if that User is determined by TopParodies to be a &quot;repeat infringer.&quot; A repeat infringer
            is a User who has been notified by TopParodies of infringing activity violations more than twice and/or who
            has had their Uploader Submissions or any other user-submitted content removed from the TopParodies Service
            more than twice. In addition, TopParodies accommodates and does not interfere with standard technical
            measures used by copyright owners to protect their materials.</strong>
        </li>
        <li><strong>Additional Terms for Apple App Store Applications.</strong>&nbsp;This Section 23 applies to you only if
            you have downloaded the Software from the Apple App Store.
            <ol type="a">
                <li><span>Acknowledgement.</span>&nbsp;TopParodies and you acknowledge that these Terms are entered into
                    solely between you and Us, and not with any third party, including Apple, Inc. These Terms are not
                    intended to provide for usage rules for the Software that are less restrictive than the Usage Rules
                    set forth for Licensed Applications in, or otherwise conflict with, the App Store Terms of Service
                    as of the date hereof (which you acknowledge you have had the opportunity to review).
                </li>
                <li><span>License to Software.</span>&nbsp;Subject to all the terms and conditions herein, TopParodies
                    hereby grants you a personal, limited, non-commercial, nonexclusive, non-sublicensable,
                    non-assignable, revocable license to download, install and use one (1) copy of the Software, in
                    object code form, only on your App Store compatible device (&ldquo;Device&rdquo;) for the sole
                    purpose of personally using the Service and, if you have downloaded the Software from the Apple App
                    Store, as permitted by the Usage Rules set forth in the Apple App Store Terms of Service.
                </li>
                <li><span>Acknowledgement.</span>&nbsp;You acknowledge that Apple has no responsibility for addressing
                    any claims relating to the Software or TopParodies Service or your possession and/or use of the
                    Software or TopParodies Service, including but not limited to (i) product liability claims; (ii) any
                    claim that the Software or TopParodies Service fails to conform to any applicable legal or
                    regulatory requirement; and (iii) any claims arising under consumer protection or similar
                    legislation.
                </li>
                <li><span>Express Third Party Beneficiary.</span>&nbsp;You acknowledge and agree that Apple, and Apple&rsquo;s
                    subsidiaries, are third-party beneficiaries of these Terms, and that, upon your acceptance of the
                    terms and conditions of these Terms, Apple will have the right (and will be deemed to have accepted
                    the right) to enforce these Terms against you as a third-party beneficiary hereof.
                </li>
            </ol>
        </li>
        <li><strong>Miscellaneous</strong>
            <ol type="a">
                <li><span>Notice. </span>TopParodies may provide you with notices, including those regarding changes to
                    these Terms, by email, regular mail or postings on the Software or TopParodies Service. &nbsp;Notice
                    will be deemed given twenty-four hours after email is sent, unless TopParodies is notified that the
                    email address is invalid. &nbsp;Alternatively, we may give you legal notice by mail to a postal
                    address, if provided by you through the Software or TopParodies Service. &nbsp;In such case, notice
                    will be deemed given three days after the date of mailing.
                </li>
                <li><span>Governing Law. </span>These Terms shall be governed by and construed in accordance with the
                    laws of the Republic of Poland, without giving effect to any principles of conflicts of law.
                </li>
                <li><span>Jurisdiction. </span>You agree that the TopParodies Service shall be deemed solely based in
                    Poland and a passive service that does not give rise to personal jurisdiction over TopParodies,
                    either specific or general, in jurisdictions other than the Republic of Poland.
                </li>
                <li><span>Waiver. </span>A provision of these Terms may be waived only by a written instrument executed
                    by the party entitled to the benefit of such provision. &nbsp;The failure of TopParodies to exercise
                    or enforce any right or provision of these Terms will not constitute a waiver of such right or
                    provision.
                </li>
                <li><span>Severability. </span>If any provision of these Terms shall be unlawful, void, or for any
                    reason unenforceable, then that provision shall be deemed severable from these Terms and shall not
                    affect the validity and enforceability of any remaining provisions.
                </li>
                <li><span>Assignment. </span>The Terms and related Guidelines, and any rights and licenses granted
                    hereunder, may not be transferred or assigned by you, but may be assigned by TopParodies without
                    restriction. &nbsp;Any assignment attempted to be made in violation of this Terms or Use shall be
                    void.
                </li>
                <li><span>Independent Contractor. </span>You agree that no joint venture, partnership, employment, or
                    agency relationship exists between you and TopParodies as a result of these Terms or use of the
                    Software or TopParodies Service. &nbsp;You further acknowledge that by submitting TopParodies
                    Submissions or other Content, no confidential, fiduciary, contractually implied or other
                    relationship is created between you and TopParodies other than pursuant to these Terms.
                </li>
                <li><span>Survival. </span>The Sections entitled &ldquo;Ownership; Proprietary Rights&rdquo;, &ldquo;TopParodies
                    Submissions&rdquo;, &ldquo;Disclaimers; No Warranties&rdquo;, &ldquo;Indemnification; Hold Harmless&rdquo;, &ldquo;Limitation
                    of Liability and Damages&rdquo;, and &ldquo;Miscellaneous&rdquo;
                    will survive any termination of these Terms.
                </li>
                <li>
                    <span>Headings. </span>The heading references herein are for convenience purposes only, do not
                    constitute a part of these Terms, and shall not be deemed to limit or affect any of the provisions
                    hereof.
                </li>
                <li>
                    <span>Entire Agreement. </span>This is the entire agreement between you and TopParodies relating to
                    the subject matter herein and supersedes all previous communications, representations,
                    understandings and agreements, either oral or written, between the parties with respect to said
                    subject matter. &nbsp;The Agreement shall not be modified except in a writing, signed by both
                    parties, or by a change to these Terms or Guidelines made by TopParodies as set forth in Section 3
                    above.
                </li>
                <li>
                    <span>Third Party Compliance.</span>&nbsp; Your use of the Software or TopParodies Service must
                    comply with applicable third party terms of agreement when you are using the Software and/or
                    TopParodies Service.
                </li>
                <li>
                    <span>Third Party Software.</span>&nbsp; The Software may be distributed alongside certain third
                    party software (&quot;Third Party Software&quot;) provided under separate license terms (the &quot;Third
                    Party Terms&quot;), as set forth in more detail in the TopParodies Frequently Asked Questions. Your
                    use of the Third Party Software in conjunction with the Software in a manner consistent with these
                    Terms is permitted, however, you may have broader rights under the applicable Third Party Terms and
                    nothing in these Terms is intended to impose further restrictions on your use of the Third Party
                    Software. In parallel, I&rsquo;ll double check the FAQ disclosure against the spreadsheet of OSS you
                    sent over and provide any feedback I may have on updating that for full compliance purposes.
                </li>
                <li>
                    <span>New Versions of the Software.</span>&nbsp;TopParodies, in its sole discretion, reserves the
                    right to add additional features or functions, or to modify or provide programming fixes, updates
                    and upgrades, to the Software or TopParodies Service. TopParodies has no obligation to make
                    available to you any modifications, updates, support, maintenance or subsequent versions of the
                    Software or TopParodies Service. You may have to agree to a renewed version of this Terms of Use if
                    you want to download, install or use any modifications, updates or new versions of the Software. You
                    acknowledge that TopParodies may automatically issue any modifications, updates or upgraded versions
                    of the Software and, accordingly, may modify, update or upgrade the version of the Software that you
                    are using or have installed on your Device. You hereby agree that your device may automatically
                    request and receive such modifications, upgrades or updates.
                </li>
                <li>
                    <span>Claims. </span>YOU AND TOPPARODIES AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO
                    THE SOFTWARE OR TOPPARODIES SERVICE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION
                    ACCRUES. &nbsp;OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
                </li>
                <li>
                    <span>Disclosures. </span>The Software and TopParodies Service are offered by Quick&amp;Quality Web
                    Development Group Przemyslaw Pajak, located at Trebaczew, Wyzwolenia 119, 98-355 Dzialoszyn, email:
                    office@topparodies.com.
                </li>
            </ol>
        </li>
    </ol>
{% endblock %}