{% load sitesngine_static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>mobileBRAND - {% block title %}responsywne / mobilne strony internetowe{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mobileBRAND - Responsywne / mobilne strony internetowe dla firm. Dostosujemy Twoją stronę internetową do urządzeń mobilnych">
    <meta name="author" content="Przemysław Pająk Quick &amp; Quality Web Development Group">
    <meta name="google-site-verification" content="l-04ThkB6o6bHkQI9HvT8S-xF3UYMIt5XF89voYm3KE" />
    <!-- Le styles -->
    <link href="{% sitesngine_static 'docs/assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% sitesngine_static 'docs/assets/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% sitesngine_static 'docs/assets/css/docs.css' %}" rel="stylesheet">
    <link href="{% sitesngine_static 'docs/assets/js/google-code-prettify/prettify.css' %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% sitesngine_static 'docs/assets/js/html5shim.js' %}"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% sitesngine_static 'docs/assets/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% sitesngine_static 'docs/assets/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% sitesngine_static 'docs/assets/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% sitesngine_static 'docs/assets/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% sitesngine_static 'docs/assets/ico/favicon.png' %}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-20928735-10', 'mobilebrand.pl');
        ga('send', 'pageview');

    </script>
</head>

<body>
<div class="container">

    <div class="marketing">
    {% block content %}

        <p class="title">Czy wiesz, że...</p>

        <h1 class="marketing-byline">w roku 2012 ludzie kupili więcej <strong>urządzeń mobilnych</strong> niż komputerów PC/Mac...</h1>

        <p class="marketing-byline">... a teraz oni surfują po internecie.</p>

        <h1 class="marketing-byline">Jak Twoja <strong>strona internetowa</strong> wygląda na telefonie lub tablecie?</h1>

        <div class="row-fluid">
            <p>
            Przeciętne <strong>strony internetowe</strong> na telefonach, tabletach i innych <strong>urządzeniach mobilnych</strong> nie wyglądąją zachęcająco.
            Użytkownik takiej <strong>strony internetowej</strong> ma problem z nawigacją, przyciski są zbyt małe, a większa część zawartości znajduje się po za jego zasięgiem.
            <strong>Strony internetowe</strong>, które działają w ten sposób odstraszają potencjalnych klientów, a jest ich z każdym dniem coraz więcej.
            </p>
            <h1 class="marketing-byline">
                Na pewno NIE chcesz by Twoja <strong>strona internetowa</strong> była przeciętna i przynosiła straty!
            </h1>
        </div>

        <hr class="soften">

        <h1 class="title"><span class="tmobile">MOBILE</span> <span class="tbrand">BRAND</span>
            <span class="tpolska">Polska</span></h1>

        <h1 class="marketing-byline">Dostosujemy Twoją <strong>stronę internetową do urządzeń mobilnych</strong></h1>
        <img src="{% sitesngine_static 'docs/assets/img/responsive-showcase-presentation.png' %}" alt="Dostosujemy Twoją stronę internetową do urządzeń mobilnych"/>

        <hr class="soften">

        <h1 class="title">Zobacz jak strona internetowa zmienia się w responsywną za darmo!</h1>

        <p class="marketing-byline">przesuń przycisk</p>

        <div class="row">
            <div class="span12">
                <div class="beforeafter">
                    <img src="{% sitesngine_static 'docs/assets/img/before.png' %}" alt="Przed dostosowaniem do urządzeń mobilnych" width="479"
                         height="337">
                    <img src="{% sitesngine_static 'docs/assets/img/after.png' %}" alt="Po dostosowaniu do urządzeń mobilnych" width="700"
                         height="600">
                </div>
            </div>
        </div>

        <hr class="soften">

        <h1 class="title">NIE potrzebujesz zmieniać <strong>systemu zarządzania treścią (CMS)</strong></h1>

        <p class="marketing-byline">Jedna drobna zmiana i Twoja <strong>strona internetowa</strong> będzie dostosowana do każdego
            urządzenia mobilnego</p>

        <div class="row-fluid">
            <div class="span12 text-left">
                <p>Pewnego dnia zadzwonił do mnie Pan Marek, z okolic Łodzi</p>
                <blockquote>
                    <p>Dzień Dobry Panie Przemku, mam wielki problem.</p>
                    <p>Wczoraj przyjechał do mnie klient, chciał kupić torebki. Nie pamiętał jakie, ale otworzył moją stronę w telefonie i szukał na niej, ale nie mógł kliknąć na linki. Mówi, że w domu na komputerze mu działało ładnie.</p>
                    <p>Żeby nie stracić klienta pobiegłem po laptopa i otworzyłem mu stronę, żeby wybrał torebki. Na szczęście transakcja udana, ale problem ze stroną istnieje.</p>
                    <p>Bardzo Pana proszę o pomoc, no kurde musi istnieć jakiś tani i szybki sposób na dostosowanie mojej strony do telefonów. Bo inaczej stracę klientów a konkurencja mnie zje.</p>
                </blockquote>
                <p>Wystarczyła jedna drobna zmiana i strona Pana Marka została dostosowana do każdego urządzenia mobilnego.</p>
            </div>
        </div>

        <hr class="soften">

        <p class="title">Uzyskaj więcej ruchu od użytkowników mobilnych</p>

        <h1 class="marketing-byline">341% więcej odwiedziń Twojej <strong>strony internetowej</strong></h1>

        <div class="row-fluid">
            <div class="span5">
                <div id="diagram"></div>
                <div class="get">
                    <div class="arc">
                        <span class="text">2.59</span>
                        <input type="hidden" class="percent" value="25.9"/>
                        <input type="hidden" class="color" value="#97BE0D"/>
                    </div>
                    <div class="arc">

                        <span class="text">8.83</span>
                        <input type="hidden" class="percent" value="88.3"/>
                        <input type="hidden" class="color" value="#aa2299"/>
                    </div>
                </div>
            </div>
            <div class="span7 text-left">
                <h4>Studium przypadku</h4>
                <p>W Maju 2012, użytkownik odwiedził średnio 2.59 stron na jedną wizytę oraz spędził 2 minuty 27 sekund na stronie Pana Marka.</p>
                <h1>Wtedy to <strong>strona internetowa</strong> Pana Marka została dostosowana do <strong>urządzeń mobilnych</strong>.</h1>
                <h4>Wynik</h4>
                <p>Po 3 miesiącach strona wyszczeliła jak rakieta:</p>
                <ul>
                    <li>Czas spędzony na stronie wzrósł o 319%, z 2:27 w Maju do 7:24 w Sierpniu.</li>
                    <li>Liczba obejrzeń stron na wizytę wzrosła o 341%, z 2.59 w Maju do 8.83 w Sierpniu.</li>
                </ul>
            </div>

        </div>
    {% endblock %}

        <hr class="soften">

        <p class="title">Gotowy na sukces?</p>

        <p class="marketing-byline">Wypełnij poniższy formularz</p>

        <div class="row-fluid">
            <div class="offset3 span4">
                <iframe src="https://docs.google.com/forms/d/1T6SvpADoMBHDzt63UoDm6LL-z33BbMugocrBlAWiOgE/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Ładowanie...</iframe>
            </div>
        </div>

        <hr class="soften">

        <p class="title">Bądź w kontakcie</p>

        <p class="marketing-byline">Skorzystaj z darmowej konsultacji</p>

        <div class="row-fluid">
            <div class="span4">
                <h4>+48 504 445 121</h4>
            </div>
            <div class="span4">
                <h4>biuro@mobilebrand.pl</h4>
            </div>
            <div class="span4">
                <h4>www.facebook.com/QQWDG</h4>
            </div>
        </div>
    </div>
</div>


<!-- Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://qualitywebdevelopment.net"
                                                                   target="_blank">Quick&amp;Quality Web Development
            Group</a> and <a href="http://fearlessspider.com" target="_blank">Fearless Spider</a>.</p>

        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a
                href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
            <li><a href="/">mobileBRAND</a></li>
            &sdot;<li><a href="/about">O nas</a></li>&sdot;
            <li><a href="/services">Nasze usługi</a></li>
        </ul>
    </div>
</footer>

<div class="scrollTop">
    <a href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery.js"></script>
<script src="{% sitesngine_static 'docs/assets/js/bootstrap.min.js' %}"></script>
<script src="{% sitesngine_static 'docs/assets/js/raphael-min.js' %}"></script>
{% if request.path == "/" %}
<script src="{% sitesngine_static 'docs/assets/js/application.js' %}"></script>
{% endif %}
<script>
$(window).bind('scroll', function(){
    if ($(this).scrollTop() > 200) { $('.scrollTop').fadeIn(); } else { $('.scrollTop').fadeOut(); }
});

$('.scrollTop').click(function(e){
    e.stopPropagation();
    $('body,html').animate({scrollTop: 0}, 800);
    return false;
});
</script>
<script src="//www.ermore.eu/sdk/"></script>
<script>erMore.init('f0517e29d2daad060b43bd4c205f53eb21a32df7c48ce583dfb341d7');</script>
</body>
</html>
