{% load pages_tags sitesngine_static i18n %}
{% get_current_language as lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="{% sitesngine_static "ico/favicon.png" %}">

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% sitesngine_static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% sitesngine_static "css/bootstrap-theme.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% sitesngine_static "js/html5shiv.js" %}"></script>
      <script src="{% sitesngine_static "js/respond.min.js" %}"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div class="header">
        <div class="navbar-header">
            <a href="#" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
            <a class="navbar-brand" href="#">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                {% for page in pages_navigation %}
                    {% pages_menu page %}
                {% endfor %}
                <li><a href="/kurs/">Kurs</a></li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <h1>Zostań Web Developerem</h1>
        <em>w 12 tygodni</em>

        <p class="lead">Django STUDIO zostało utworzone z myślą o Tobie, abyś mógł nauczyć się podstaw tworzenia stron WWW. Możesz uczyć się wszędzie i o każdej porze.</p>

        <p><a class="btn btn-lg btn-success" href="/kurs/">Zacznij już dziś</a></p>
    </div>

    <div class="row marketing">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        <p>&copy; {{ site.domain }} 2013</p>
    </div>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% block extrajs %}
    {% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20928735-12', 'djangostdio.com');
  ga('send', 'pageview');

</script>
</body>
</html>
