{% load sitesngine_static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% block metadescription %}<meta name="description" content="Personal website and blog of fearless developer, designer and entrepreneur Przemysław Pająk also known as BeSpider. Follow him at @bespider" />{% endblock %}
  {% block metakeywords %}<meta name="keywords" content="Przemysław Pająk, bespdier, developer, designer, entrepreneur, instin, myhomework" />{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pagetitle %}{{ site.name }}{% endblock %}</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  {% if RSS_FEED_ENABLED %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ RSS_FEED_URL }}" />
  {% endif %}
</head>
<body>
<h1>Sites N-gine</h1>
<em>Python Open Source Multichannel Platform</em>
</body>
</html>
