{% load admin_static %}<!DOCTYPE html>
<html>
  <body>
    {% block includes %}
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static "elfinder/css/elfinder.min.css" %}">
    <script type="text/javascript" src="{% static "elfinder/js/elfinder.min.js" %}"></script>
    
    <!-- Mac OS X Finder style for jQuery UI smoothness theme (OPTIONAL) -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "elfinder/css/theme.css" %}">
    <script type="text/javascript" src="{% static "elfinder/js/i18n/elfinder.ru.js" %}"></script>

    {% endblock includes %}

    {% block elfinder_init %}
    <script type="text/javascript" charset="utf-8">
        $().ready(function() {
            elfinderOpts = jQuery.extend({
                url : '{% url "yawdElfinderConnectorView" "default" "default" %}',
                places : 'h',
                rememberLastDir : false,
                placesFirst : false,
                requestType: 'post',
                customData : { csrfmiddlewaretoken : '{{ csrf_token }}',  },
                uiOptions : { toolbar : [
                                ['back', 'forward'],
                                ['download', 'mkdir', 'mkfile', 'upload'],
                                ['copy', 'cut', 'paste'],
                                ['rm'],
                                ['rename'],
                                ['view'],
                             ]
                            },
                contextmenu : { navbar : ['open', '|', 'copy', 'cut', 'paste', '|',
                                          'rm'],
                                cwd : ['reload', 'back', '|',
                                       'mkdir', 'mkfile', 'paste', '|',
                                       'upload'],
                                files : ['edit', 'open', '|',
                                         'copy', 'cut', 'paste', '|',
                                         'rm', 'rename'],
                              }
            }, window['elfinderExtraOpts'] || {});

            var elf = $('#elfinder').elfinder(elfinderOpts).elfinder('instance');
        });
    </script>
    {% endblock elfinder_init %}

    {% block elfinder_div %}
    <div id="elfinder"></div>
    {% endblock elfinder_div %}
  </body>
</html>
